//HEADER HERE
.main-header{
  border-bottom: 1px solid $primary_color;
  .main-header-inner{
    padding-top:16px;
    padding-bottom: 16px;
    .main-logo{
      margin-right:20px;
      .logo-web{
        height: 100%;
        width: 50%;
      }
    }
    .header-content{
      margin-right: auto;
      .nav-menu{
        .nav-item{
          padding: 8px 32px;
        }
        .item-name{
          font-weight: 700;
        }
      }
    }
    .header-icon{
      align-self: center;
      .icon-user,
      .icon-search{
        font-size: 21px;
        margin-top:auto;
        margin-left:24px;
      }

    }
  }
}
