//FOUR RECIPE BOX
//it's cart here
.recipe-list{
  margin-top:40px;
  .recipe-box{
    .recipe-list-box{
      .list-box{
        position:relative;
        .list-name{
          position:absolute;
          left:5%;
          bottom:5%;
        }
      }
      .two-box{
        .box-top{
          margin-bottom:30px;
        }
      }
    }
  }
}
//HOVER RECIPE LIST BOX
.list-box{
  overflow: hidden;
}
.list-box img{
  transition: transform 0.5s ease-out;
}
.list-box:hover img{
  transform: scale(1.03);
  filter: brightness(80%);
}
.list-name:hover > list-title{
  text-decoration: underline;
}

//RECENTLY UPDATE
.recent-update{
  margin-top: 110px;
  margin-bottom: 110px;
  .recent-section{

  }
}
