//SIDE BAR
//Special cake
.sidebar{
  .simi-recipes{

  }
  .special-day{
    .special-cart{
      position: relative;
      .special-title{
        position: absolute;
        bottom:16px;
        left:16px;
      }
    }
  }
}

//Sticky sidebar

